/* reste  s-- */

body {
    font: 14px/1.5 "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    background-color: #fff;
}

body,
html {
    -webkit-text-size-adjust: none;
    width: 100%;
    height: 100%;
}

* {
    text-decoration: none;
    list-style: none;
}

img {
    border: none;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    outline-style: none;
    /*FF*/
}

a {
    text-decoration: none;
    cursor: pointer;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration-line: underline;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none !important;
}

button:active {
    position: relative;
    top: 1px;
    box-shadow: inset 1px 1px #333;
}

input,
button,
textarea {
    outline: none;
    border: none;
    transition: all .5s ease;
}

input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
textarea:focus {
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
}

.clearfix:after {
    clear: both;
}

.clearfix:after,
.clearfix:before {
    display: table;
    content: " ";
}

.clearfix {
    zoom: 1;
}

.pull-right {
    float: right;
}

.pull-left {
    float: left;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

img {
    content: normal !important;
}

div {
    box-sizing: border-box;
}


/* reste  e-- */


/* 自定义  s-- */

#app {
    height: 100%;
}

a.router-link-exact-active {
    text-decoration: none;
}

.top-search {
    height: 104px;
    line-height: 104px;
    background-color: rgb(239, 239, 239);
    text-align: center;
    position: relative;
}

.top-search img {
    position: absolute;
    left: 44px;
    top: 37px;
    width: 30px;
}

.top-search>input {
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 6px 0px rgba(207, 207, 207, 0.5);
    width: 642px;
    height: 72px;
    padding-left: 60px;
    font-size: 28px;
}

.base-information {
    height: 58px;
    line-height: 58px;
    font-size: 24px;
    color: #666;
    text-indent: 20px;
}

.one-nav,
.many-nav {
    height: 110px;
    background-color: #ffffff;
    padding: 0 35px 0 35px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 32px;
    color: #666666;
}

.one-nav img:first-child,
.many-nav img:first-child {
    width: 70px;
    height: 70px;
    margin-right: 35px;
}

.one-nav img:last-of-type,
.many-nav img:last-of-type,
.many-show-text img:last-of-type {
    position: absolute;
    right: 37px;
    width: 18px;
}

a.many-nav .line {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 718px;
    border-bottom: 1px solid #eaeaea;
}

a.many-nav>i {
    border-radius: 50%;
    background-color: rgb(255, 0, 0);
    position: absolute;
    right: 78px;
    top: 10px;
    width: 14px;
    height: 14px;
}

.many-show-text {
    height: 70px;
    background-color: #ffffff;
    padding: 0 37px 0 23px;
    display: flex;
    align-items: center;
    position: relative;
    font-size: 30px;
    color: #333;
    >label {
        margin-right: 40px;
    }
    >input {
        height: 50px;
        line-height: 48px;
        font-size: 30px;
        text-indent: 30px;
        flex-grow: 1;
    }
    .date-component {
        height: 50px;
        line-height: 48px;
        font-size: 30px;
        text-indent: 30px;
        flex-grow: 1;
    }
}

.many-show-text>span {
    font-size: 30px;
}

.many-show-text>span:nth-of-type(1) {
    width: 215px;
    color: #333333;
}

.many-show-text>span:nth-of-type(2) {
    color: #999;
}

.many-show-text .line {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 726px;
    border-bottom: 1px solid rgba(221, 221, 221, .41);
}

div.my-serve,
div.my-miss-buy {
    // height: 100%;
    background-color: #efefef;
    .borrowing-book {
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        width: 702px;
        // height: 310px;
        box-sizing: border-box;
        margin: 0 auto 24px;
        padding: 23px 20px 23px 30px;
        display: flex;
        flex-direction: column;
        // align-items: center;
        justify-content: center;
        >li {
            height: 40px;
            line-height: 40px;
            font-size: 26px;
            >span:nth-of-type(1) {
                color: #333333;
            }
            >span:nth-of-type(2) {
                color: #666666;
            }
            >span:nth-of-type(3) {
                float: right;
                >button {
                    border-width: 1px;
                    border-color: rgb(11, 127, 229);
                    border-style: solid;
                    border-radius: 6px;
                    width: 85px;
                    height: 38px;
                    line-height: 36px;
                    text-align: center;
                    font-size: 24px;
                    color: rgb(11, 127, 229);
                    background-color: transparent;
                }
            }
        }
    }
}

.borrowing-book:last-child {
    margin-bottom: 0 !important;
}

// div.borrow-ranking,
div.overdue-book,
div.my-borrowing,
div.borrow-book-list {
    background-color: #efefef;
    div.borrowing-book-data {
        padding: 23px;
        background-color: #fff;
        width: 702px;
        border-radius: 10px;
        margin: 0 auto 24px;
        >div {
            display: flex;
            align-items: center;
            .book-img {
                border-radius: 4px;
                background-color: rgb(171, 171, 171);
                width: 142px;
                height: 184px;
                overflow: hidden;
                >img {
                    width: 142px;
                    height: 184px;
                }
            }
            .bookimg-rg {
                margin-left: 24px;
                flex-grow: 1;
                >li {
                    display: flex;
                    padding-right: 85px;
                    position: relative;
                    >span:nth-of-type(2) {
                        width: 250px;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                        overflow: hidden;
                    }
                }
                >li {
                    height: 38px;
                    line-height: 38px;
                    font-size: 26px;
                    >span:nth-of-type(1) {
                        color: #333333;
                    }
                    >span:nth-of-type(2) {
                        color: #666666;
                    }
                    >span:nth-of-type(3) {
                        position: absolute;
                        right: 0;
                        >button {
                            border-width: 1px;
                            border-color: rgb(11, 127, 229);
                            border-style: solid;
                            border-radius: 6px;
                            width: 85px;
                            height: 38px;
                            line-height: 36px;
                            text-align: center;
                            font-size: 24px;
                            color: rgb(11, 127, 229);
                            background-color: transparent;
                        }
                    }
                }
            }
        }
        .book-bottom {
            margin-top: 20px;
            >li {
                height: 38px;
                line-height: 38px;
                font-size: 26px;
                >span:nth-of-type(1) {
                    color: #666666;
                }
                >span:nth-of-type(2) {
                    color: #666666;
                }
                >span:nth-of-type(3) {
                    float: right;
                    >button {
                        border-width: 1px;
                        border-color: rgb(11, 127, 229);
                        border-style: solid;
                        border-radius: 6px;
                        width: 85px;
                        height: 38px;
                        line-height: 36px;
                        text-align: center;
                        font-size: 24px;
                        color: rgb(11, 127, 229);
                        background-color: transparent;
                    }
                }
            }
        }
    }
}

.comment-btn {
    display: inline-block;
    border-radius: 6px;
    background-color: rgb(255, 108, 0);
    padding: 0 16px;
    height: 48px;
    line-height: 48px;
    font-size: 26px;
    color: #ffffff;
    text-align: center;
}

.status {
    height: var(--status-bar-height);
    background: #dedede;
}

.garden-right {
    float: right;
}

.garden-right img {
    width: 257px;
    height: 313px;
}

.garden-left {
    padding-top: 100px;
    padding-left: 22px;
}

.garden-left img {
    width: 105px;
    height: 105px;
}

.login-text {
    margin-top: 54px;
    padding-left: 23px;
    font-size: 55px;
    letter-spacing: 8px;
    color: #333333;
}

.subtitle {
    padding-left: 23px;
    font-size: 27px;
    color: #333333;
}

.form-login {
    display: block;
    width: 100%;
}

.form-login label {
    font-size: 27px;
    padding: 0 75px;
    color: #999;
    margin-top: 30px;
    display: block;
}

.form-login .form-row {
    margin: 0 75px;
    position: relative;
    box-sizing: content-box;
    border-bottom: 1px solid #6d788b;
}

.form-login .login-input {
    padding: 0 150px 0 0;
    height: 70px;
    line-height: 60px;
    color: #333333;
}

.form-login .login-input:focus {
    border-bottom-color: #e60012;
}

.form-login img {
    width: 40px;
    position: absolute;
    top: 20px;
    right: 45px;
}

.form-login img.verif-code {
    width: 150px;
    height: 29px;
    right: 0;
}

.go-login {
    padding: 0 75px;
    margin-top: 25px;
    display: block;
    font-size: 30px;
    color: #333;
}

.login-btn {
    background: #e60012;
    color: #fff;
    margin-top: 70px;
    width: 600px;
    height: 100px;
    line-height: 100px;
    border-radius: 50px;
    font-size: 33px;
    color: #fff;
}

.assent {
    font-size: 27px;
    color: #333333;
    margin: 70px 0 60px;
    text-align: center;
}

.psd-register {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.xiala {
    width: 30px;
    height: 30px;
    top: 2px;
    left: 2px;
}

.tab-switch,
.tab-switch-white {
    height: 80px;
    background-color: #e60012;
    display: flex;
    >li {
        flex-grow: 1;
        font-size: 28px;
        color: #fffefe;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
            flex-grow: 1;
            display: flex;
            align-items: center;
        }
    }
    >li.active {
        color: #fff;
        >i {
            width: 40px;
            height: 4px;
            background-color: #fff;
            // align-self: flex-end;
        }
    }
}

.one-row-btn {
    border-radius: 10px;
    background-color: rgb(65, 176, 250);
    width: 500px;
    height: 72px;
    line-height: 72px;
    font-size: 30px;
    color: #fff;
}

div.mint-spinner-fading-circle-circle {
    left: 360px;
}

div.noDataShow {
    text-align: center;
    font-size: 28px;
    color: #ff0000;
}

.lunpo-img {
    width: 100%;
    height: 100%;
}

i.iconfont {
    font-size: 36px;
    vertical-align: middle;
}

.my-cell {
    background-color: #fff;
    margin: 20px 0;
    height: 90px;
    // line-height: 90px;
    padding: 0 22px;
    font-size: 28px;
    color: #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
        width: 18px;
    }
}

ul.tab-switch-white {
    background-color: #fff;
    >li {
        color: #333333;
    }
    >li.active {
        color: #333333;
        i {
            background-color: #e60012;
        }
    }
}

ul.tab-container-line {
    padding-bottom: 60px;
    background-color: #ebebeb;
    height: 4px;
    display: flex;
    justify-content: space-around;
    >li {
        width: 40px;
        height: 4px;
        background-color: #ebebeb;
    }
    >li.active {
        background-color: #e60012;
    }
}

div.picker-content {
    width: 100vw;
}


/* 自定义  e-- */